
    body{background:url(../img/bg.png);font-family:'Wire One', sans-serif;}
/* general */
  strong{font-weight:normal;text-decoration:underline;color:#333;font-size: 120%;}


/* structure */
    #wrapper{width:800px;margin:0 auto}
    #head{height:100px;}
      h1{line-height: 1em;font-weight: 800;font-size: 6em;padding-left: 60px;text-shadow: 0 0 8px #ccc;}
      h2{font-size: 3em;font-weight: 600;margin-left: 80px;}
    #main{position:relative}
    #main_rph{z-index:-1;}
    #main_html, #main_rph{height:600px;position:absolute;top:0;}
    #main_html{font-size: 4.6em;margin-top: 20px;width: 800px;}
      .ini-head{font-size:0.9em}
      .main-ini h3{display:inline;font-size:1.2em;}
      .columns{margin-top:20px;font-size:.6em}
      .ini-action{margin-top:20px;font-size:.6em}
      .columns2{margin-top:20px;font-size:1.4em;clear:both;}
      .columns2_mini{font-size:.7em;}
        .main-ini .col_3{float: left;width: 240px;margin-left: 30px;height: 150px;padding-top: 230px;}
        .main-ini .col_3:first-child{margin-left:0px;}
        .main-ini .msj{text-align: center;font-size: 01em;color: red;}
      #selCal li{list-style:none;}
        #main_selCal .msj{text-align: center;font-size: 0.7em;color: red;}
        #main_selCal .butt{font-size: .6em;}
    #foot{margin-top: 650px;text-align: right;}

        .butt{width: 120px;margin: 20px auto;border: 1px solid #CCC;text-align: center;padding: 10px 0;
          background: rgb(255,255,255); /* Old browsers */background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
          background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */}
        .butt:hover{background: rgb(229,229,229); /* Old browsers */
          background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
          background: linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
          color:#FF3726}
    .butt:active{-webkit-box-shadow: inset 0px 0px 12px -1px #ccc;-moz-box-shadow: inset 0px 0px 11px -3px #ccc;box-shadow: inset 0px 0px 12px -1px #ccc;}
